<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Image credit:</strong>
  <%= @recipe.image_credit %>
</p>

<p>
  <strong>Yeild:</strong>
  <%= @recipe.yeild %>
</p>

<p>
  <strong>Prep:</strong>
  <%= @recipe.prep %>
</p>

<p>
  <strong>Cook:</strong>
  <%= @recipe.cook %>
</p>

<p>
  <strong>Total:</strong>
  <%= @recipe.total %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @recipe.diet %>
</p>

<p>
  <strong>Course:</strong>
  <%= @recipe.course %>
</p>

<p>
  <strong>Ease:</strong>
  <%= @recipe.ease %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @recipe.categories %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @recipe.tags %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @recipe.ratings %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @recipe.comments %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @recipe.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @recipe.twitter %>
</p>

<p>
  <strong>Pinterest:</strong>
  <%= @recipe.pinterest %>
</p>

<p>
  <strong>Stumbleupon:</strong>
  <%= @recipe.stumbleupon %>
</p>

<p>
  <strong>Gplus:</strong>
  <%= @recipe.gplus %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author %>
</p>

<p>
  <strong>Added on:</strong>
  <%= @recipe.added_on %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
