<%= simple_form_for(@datapoint) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :publisher %>
    <%= f.input :titlexpath %>
    <%= f.input :titlecss %>
    <%= f.input :titleregex %>
    <%= f.input :descriptionxpath %>
    <%= f.input :descriptioncss %>
    <%= f.input :descriptionregex %>
    <%= f.input :imagexpath %>
    <%= f.input :imagecss %>
    <%= f.input :imageregex %>
    <%= f.input :imagecreditxpath %>
    <%= f.input :imagecreditcss %>
    <%= f.input :imagecreditregex %>
    <%= f.input :yeildxpath %>
    <%= f.input :yeildcss %>
    <%= f.input :yeildregex %>
    <%= f.input :prepxpath %>
    <%= f.input :prepcss %>
    <%= f.input :prepregex %>
    <%= f.input :cookxpath %>
    <%= f.input :cookcss %>
    <%= f.input :cookregex %>
    <%= f.input :totalxpath %>
    <%= f.input :totalcss %>
    <%= f.input :totalregex %>
    <%= f.input :ingredientsxpath %>
    <%= f.input :ingredientscss %>
    <%= f.input :ingredientsregex %>
    <%= f.input :dietxpath %>
    <%= f.input :dietcss %>
    <%= f.input :dietregex %>
    <%= f.input :coursexpath %>
    <%= f.input :coursecss %>
    <%= f.input :courseregex %>
    <%= f.input :easexpath %>
    <%= f.input :easecss %>
    <%= f.input :easeregex %>
    <%= f.input :categoriesxpath %>
    <%= f.input :categoriescss %>
    <%= f.input :categoriesregex %>
    <%= f.input :tagsxpath %>
    <%= f.input :tagscss %>
    <%= f.input :tagsregex %>
    <%= f.input :ratingxpath %>
    <%= f.input :ratingcss %>
    <%= f.input :ratingregex %>
    <%= f.input :commentnumxpath %>
    <%= f.input :commentnumcss %>
    <%= f.input :commentnumregex %>
    <%= f.input :facebookxpath %>
    <%= f.input :facebookcss %>
    <%= f.input :facebookregex %>
    <%= f.input :twitterxpath %>
    <%= f.input :twittercss %>
    <%= f.input :twitterregex %>
    <%= f.input :pinxpath %>
    <%= f.input :pincss %>
    <%= f.input :pinregex %>
    <%= f.input :stumblexpath %>
    <%= f.input :stumblecss %>
    <%= f.input :stumbleregex %>
    <%= f.input :gxpath %>
    <%= f.input :gcss %>
    <%= f.input :gregex %>
    <%= f.input :publisherdatexpath %>
    <%= f.input :publisherdatecss %>
    <%= f.input :publisherdateregex %>
    <%= f.input :authorxpath %>
    <%= f.input :authorcss %>
    <%= f.input :authorregex %>
    <%= f.input :sources %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
