<%- model_class = Datapoint -%>
<div class="page-header">
  <h1><%=t '.title', :default => Datapoint %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:titlexpath) %></th>
      <th><%= model_class.human_attribute_name(:titlecss) %></th>
      <th><%= model_class.human_attribute_name(:titleregex) %></th>
      <th><%= model_class.human_attribute_name(:descriptionxpath) %></th>
      <th><%= model_class.human_attribute_name(:descriptioncss) %></th>
      <th><%= model_class.human_attribute_name(:descriptionregex) %></th>
      <th><%= model_class.human_attribute_name(:imagexpath) %></th>
      <th><%= model_class.human_attribute_name(:imagecss) %></th>
      <th><%= model_class.human_attribute_name(:imageregex) %></th>
      <th><%= model_class.human_attribute_name(:imagecreditxpath) %></th>
      <th><%= model_class.human_attribute_name(:imagecreditcss) %></th>
      <th><%= model_class.human_attribute_name(:imagecreditregex) %></th>
      <th><%= model_class.human_attribute_name(:yeildxpath) %></th>
      <th><%= model_class.human_attribute_name(:yeildcss) %></th>
      <th><%= model_class.human_attribute_name(:yeildregex) %></th>
      <th><%= model_class.human_attribute_name(:prepxpath) %></th>
      <th><%= model_class.human_attribute_name(:prepcss) %></th>
      <th><%= model_class.human_attribute_name(:prepregex) %></th>
      <th><%= model_class.human_attribute_name(:cookxpath) %></th>
      <th><%= model_class.human_attribute_name(:cookcss) %></th>
      <th><%= model_class.human_attribute_name(:cookregex) %></th>
      <th><%= model_class.human_attribute_name(:totalxpath) %></th>
      <th><%= model_class.human_attribute_name(:totalcss) %></th>
      <th><%= model_class.human_attribute_name(:totalregex) %></th>
      <th><%= model_class.human_attribute_name(:ingredientsxpath) %></th>
      <th><%= model_class.human_attribute_name(:ingredientscss) %></th>
      <th><%= model_class.human_attribute_name(:ingredientsregex) %></th>
      <th><%= model_class.human_attribute_name(:dietxpath) %></th>
      <th><%= model_class.human_attribute_name(:dietcss) %></th>
      <th><%= model_class.human_attribute_name(:dietregex) %></th>
      <th><%= model_class.human_attribute_name(:coursexpath) %></th>
      <th><%= model_class.human_attribute_name(:coursecss) %></th>
      <th><%= model_class.human_attribute_name(:courseregex) %></th>
      <th><%= model_class.human_attribute_name(:easexpath) %></th>
      <th><%= model_class.human_attribute_name(:easecss) %></th>
      <th><%= model_class.human_attribute_name(:easeregex) %></th>
      <th><%= model_class.human_attribute_name(:categoriesxpath) %></th>
      <th><%= model_class.human_attribute_name(:categoriescss) %></th>
      <th><%= model_class.human_attribute_name(:categoriesregex) %></th>
      <th><%= model_class.human_attribute_name(:tagsxpath) %></th>
      <th><%= model_class.human_attribute_name(:tagscss) %></th>
      <th><%= model_class.human_attribute_name(:tagsregex) %></th>
      <th><%= model_class.human_attribute_name(:ratingxpath) %></th>
      <th><%= model_class.human_attribute_name(:ratingcss) %></th>
      <th><%= model_class.human_attribute_name(:ratingregex) %></th>
      <th><%= model_class.human_attribute_name(:commentnumxpath) %></th>
      <th><%= model_class.human_attribute_name(:commentnumcss) %></th>
      <th><%= model_class.human_attribute_name(:commentnumregex) %></th>
      <th><%= model_class.human_attribute_name(:facebookxpath) %></th>
      <th><%= model_class.human_attribute_name(:facebookcss) %></th>
      <th><%= model_class.human_attribute_name(:facebookregex) %></th>
      <th><%= model_class.human_attribute_name(:twitterxpath) %></th>
      <th><%= model_class.human_attribute_name(:twittercss) %></th>
      <th><%= model_class.human_attribute_name(:twitterregex) %></th>
      <th><%= model_class.human_attribute_name(:pinxpath) %></th>
      <th><%= model_class.human_attribute_name(:pincss) %></th>
      <th><%= model_class.human_attribute_name(:pinregex) %></th>
      <th><%= model_class.human_attribute_name(:stumblexpath) %></th>
      <th><%= model_class.human_attribute_name(:stumblecss) %></th>
      <th><%= model_class.human_attribute_name(:stumbleregex) %></th>
      <th><%= model_class.human_attribute_name(:gxpath) %></th>
      <th><%= model_class.human_attribute_name(:gcss) %></th>
      <th><%= model_class.human_attribute_name(:gregex) %></th>
      <th><%= model_class.human_attribute_name(:publisherdatexpath) %></th>
      <th><%= model_class.human_attribute_name(:publisherdatecss) %></th>
      <th><%= model_class.human_attribute_name(:publisherdateregex) %></th>
      <th><%= model_class.human_attribute_name(:authorxpath) %></th>
      <th><%= model_class.human_attribute_name(:authorcss) %></th>
      <th><%= model_class.human_attribute_name(:authorregex) %></th>
      <th><%= model_class.human_attribute_name(:sources) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @datapoints.each do |datapoint| %>
      <tr>
        <td><%= datapoint.id %></td>
        <td><%= datapoint.titlexpath %></td>
        <td><%= datapoint.titlecss %></td>
        <td><%= datapoint.titleregex %></td>
        <td><%= datapoint.descriptionxpath %></td>
        <td><%= datapoint.descriptioncss %></td>
        <td><%= datapoint.descriptionregex %></td>
        <td><%= datapoint.imagexpath %></td>
        <td><%= datapoint.imagecss %></td>
        <td><%= datapoint.imageregex %></td>
        <td><%= datapoint.imagecreditxpath %></td>
        <td><%= datapoint.imagecreditcss %></td>
        <td><%= datapoint.imagecreditregex %></td>
        <td><%= datapoint.yeildxpath %></td>
        <td><%= datapoint.yeildcss %></td>
        <td><%= datapoint.yeildregex %></td>
        <td><%= datapoint.prepxpath %></td>
        <td><%= datapoint.prepcss %></td>
        <td><%= datapoint.prepregex %></td>
        <td><%= datapoint.cookxpath %></td>
        <td><%= datapoint.cookcss %></td>
        <td><%= datapoint.cookregex %></td>
        <td><%= datapoint.totalxpath %></td>
        <td><%= datapoint.totalcss %></td>
        <td><%= datapoint.totalregex %></td>
        <td><%= datapoint.ingredientsxpath %></td>
        <td><%= datapoint.ingredientscss %></td>
        <td><%= datapoint.ingredientsregex %></td>
        <td><%= datapoint.dietxpath %></td>
        <td><%= datapoint.dietcss %></td>
        <td><%= datapoint.dietregex %></td>
        <td><%= datapoint.coursexpath %></td>
        <td><%= datapoint.coursecss %></td>
        <td><%= datapoint.courseregex %></td>
        <td><%= datapoint.easexpath %></td>
        <td><%= datapoint.easecss %></td>
        <td><%= datapoint.easeregex %></td>
        <td><%= datapoint.categoriesxpath %></td>
        <td><%= datapoint.categoriescss %></td>
        <td><%= datapoint.categoriesregex %></td>
        <td><%= datapoint.tagsxpath %></td>
        <td><%= datapoint.tagscss %></td>
        <td><%= datapoint.tagsregex %></td>
        <td><%= datapoint.ratingxpath %></td>
        <td><%= datapoint.ratingcss %></td>
        <td><%= datapoint.ratingregex %></td>
        <td><%= datapoint.commentnumxpath %></td>
        <td><%= datapoint.commentnumcss %></td>
        <td><%= datapoint.commentnumregex %></td>
        <td><%= datapoint.facebookxpath %></td>
        <td><%= datapoint.facebookcss %></td>
        <td><%= datapoint.facebookregex %></td>
        <td><%= datapoint.twitterxpath %></td>
        <td><%= datapoint.twittercss %></td>
        <td><%= datapoint.twitterregex %></td>
        <td><%= datapoint.pinxpath %></td>
        <td><%= datapoint.pincss %></td>
        <td><%= datapoint.pinregex %></td>
        <td><%= datapoint.stumblexpath %></td>
        <td><%= datapoint.stumblecss %></td>
        <td><%= datapoint.stumbleregex %></td>
        <td><%= datapoint.gxpath %></td>
        <td><%= datapoint.gcss %></td>
        <td><%= datapoint.gregex %></td>
        <td><%= datapoint.publisherdatexpath %></td>
        <td><%= datapoint.publisherdatecss %></td>
        <td><%= datapoint.publisherdateregex %></td>
        <td><%= datapoint.authorxpath %></td>
        <td><%= datapoint.authorcss %></td>
        <td><%= datapoint.authorregex %></td>
        <td><%= datapoint.sources %></td>
        <td><%=l datapoint.created_at, format: :long %></td>
        <td>
          <%= link_to datapoint_path(datapoint), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to datapoint_path(datapoint), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_datapoint_path,
            :class => 'btn btn-primary' %>
