<p id="notice"><%= notice %></p>

<p>
  <strong>Publisher:</strong>
  <%= @datapoint.publisher %>
</p>

<p>
  <strong>Titlexpath:</strong>
  <%= @datapoint.titlexpath %>
</p>

<p>
  <strong>Titlecss:</strong>
  <%= @datapoint.titlecss %>
</p>

<p>
  <strong>Titleregex:</strong>
  <%= @datapoint.titleregex %>
</p>

<p>
  <strong>Descriptionxpath:</strong>
  <%= @datapoint.descriptionxpath %>
</p>

<p>
  <strong>Descriptioncss:</strong>
  <%= @datapoint.descriptioncss %>
</p>

<p>
  <strong>Descriptionregex:</strong>
  <%= @datapoint.descriptionregex %>
</p>

<p>
  <strong>Imagexpath:</strong>
  <%= @datapoint.imagexpath %>
</p>

<p>
  <strong>Imagecss:</strong>
  <%= @datapoint.imagecss %>
</p>

<p>
  <strong>Imageregex:</strong>
  <%= @datapoint.imageregex %>
</p>

<p>
  <strong>Imagecreditxpath:</strong>
  <%= @datapoint.imagecreditxpath %>
</p>

<p>
  <strong>Imagecreditcss:</strong>
  <%= @datapoint.imagecreditcss %>
</p>

<p>
  <strong>Imagecreditregex:</strong>
  <%= @datapoint.imagecreditregex %>
</p>

<p>
  <strong>Yeildxpath:</strong>
  <%= @datapoint.yeildxpath %>
</p>

<p>
  <strong>Yeildcss:</strong>
  <%= @datapoint.yeildcss %>
</p>

<p>
  <strong>Yeildregex:</strong>
  <%= @datapoint.yeildregex %>
</p>

<p>
  <strong>Prepxpath:</strong>
  <%= @datapoint.prepxpath %>
</p>

<p>
  <strong>Prepcss:</strong>
  <%= @datapoint.prepcss %>
</p>

<p>
  <strong>Prepregex:</strong>
  <%= @datapoint.prepregex %>
</p>

<p>
  <strong>Cookxpath:</strong>
  <%= @datapoint.cookxpath %>
</p>

<p>
  <strong>Cookcss:</strong>
  <%= @datapoint.cookcss %>
</p>

<p>
  <strong>Cookregex:</strong>
  <%= @datapoint.cookregex %>
</p>

<p>
  <strong>Totalxpath:</strong>
  <%= @datapoint.totalxpath %>
</p>

<p>
  <strong>Totalcss:</strong>
  <%= @datapoint.totalcss %>
</p>

<p>
  <strong>Totalregex:</strong>
  <%= @datapoint.totalregex %>
</p>

<p>
  <strong>Ingredientsxpath:</strong>
  <%= @datapoint.ingredientsxpath %>
</p>

<p>
  <strong>Ingredientscss:</strong>
  <%= @datapoint.ingredientscss %>
</p>

<p>
  <strong>Ingredientsregex:</strong>
  <%= @datapoint.ingredientsregex %>
</p>

<p>
  <strong>Dietxpath:</strong>
  <%= @datapoint.dietxpath %>
</p>

<p>
  <strong>Dietcss:</strong>
  <%= @datapoint.dietcss %>
</p>

<p>
  <strong>Dietregex:</strong>
  <%= @datapoint.dietregex %>
</p>

<p>
  <strong>Coursexpath:</strong>
  <%= @datapoint.coursexpath %>
</p>

<p>
  <strong>Coursecss:</strong>
  <%= @datapoint.coursecss %>
</p>

<p>
  <strong>Courseregex:</strong>
  <%= @datapoint.courseregex %>
</p>

<p>
  <strong>Easexpath:</strong>
  <%= @datapoint.easexpath %>
</p>

<p>
  <strong>Easecss:</strong>
  <%= @datapoint.easecss %>
</p>

<p>
  <strong>Easeregex:</strong>
  <%= @datapoint.easeregex %>
</p>

<p>
  <strong>Categoriesxpath:</strong>
  <%= @datapoint.categoriesxpath %>
</p>

<p>
  <strong>Categoriescss:</strong>
  <%= @datapoint.categoriescss %>
</p>

<p>
  <strong>Categoriesregex:</strong>
  <%= @datapoint.categoriesregex %>
</p>

<p>
  <strong>Tagsxpath:</strong>
  <%= @datapoint.tagsxpath %>
</p>

<p>
  <strong>Tagscss:</strong>
  <%= @datapoint.tagscss %>
</p>

<p>
  <strong>Tagsregex:</strong>
  <%= @datapoint.tagsregex %>
</p>

<p>
  <strong>Ratingxpath:</strong>
  <%= @datapoint.ratingxpath %>
</p>

<p>
  <strong>Ratingcss:</strong>
  <%= @datapoint.ratingcss %>
</p>

<p>
  <strong>Ratingregex:</strong>
  <%= @datapoint.ratingregex %>
</p>

<p>
  <strong>Commentnumxpath:</strong>
  <%= @datapoint.commentnumxpath %>
</p>

<p>
  <strong>Commentnumcss:</strong>
  <%= @datapoint.commentnumcss %>
</p>

<p>
  <strong>Commentnumregex:</strong>
  <%= @datapoint.commentnumregex %>
</p>

<p>
  <strong>Facebookxpath:</strong>
  <%= @datapoint.facebookxpath %>
</p>

<p>
  <strong>Facebookcss:</strong>
  <%= @datapoint.facebookcss %>
</p>

<p>
  <strong>Facebookregex:</strong>
  <%= @datapoint.facebookregex %>
</p>

<p>
  <strong>Twitterxpath:</strong>
  <%= @datapoint.twitterxpath %>
</p>

<p>
  <strong>Twittercss:</strong>
  <%= @datapoint.twittercss %>
</p>

<p>
  <strong>Twitterregex:</strong>
  <%= @datapoint.twitterregex %>
</p>

<p>
  <strong>Pinxpath:</strong>
  <%= @datapoint.pinxpath %>
</p>

<p>
  <strong>Pincss:</strong>
  <%= @datapoint.pincss %>
</p>

<p>
  <strong>Pinregex:</strong>
  <%= @datapoint.pinregex %>
</p>

<p>
  <strong>Stumblexpath:</strong>
  <%= @datapoint.stumblexpath %>
</p>

<p>
  <strong>Stumblecss:</strong>
  <%= @datapoint.stumblecss %>
</p>

<p>
  <strong>Stumbleregex:</strong>
  <%= @datapoint.stumbleregex %>
</p>

<p>
  <strong>Gxpath:</strong>
  <%= @datapoint.gxpath %>
</p>

<p>
  <strong>Gcss:</strong>
  <%= @datapoint.gcss %>
</p>

<p>
  <strong>Gregex:</strong>
  <%= @datapoint.gregex %>
</p>

<p>
  <strong>Publisherdatexpath:</strong>
  <%= @datapoint.publisherdatexpath %>
</p>

<p>
  <strong>Publisherdatecss:</strong>
  <%= @datapoint.publisherdatecss %>
</p>

<p>
  <strong>Publisherdateregex:</strong>
  <%= @datapoint.publisherdateregex %>
</p>

<p>
  <strong>Authorxpath:</strong>
  <%= @datapoint.authorxpath %>
</p>

<p>
  <strong>Authorcss:</strong>
  <%= @datapoint.authorcss %>
</p>

<p>
  <strong>Authorregex:</strong>
  <%= @datapoint.authorregex %>
</p>

<p>
  <strong>Sources:</strong>
  <%= @datapoint.sources %>
</p>

<%= link_to 'Edit', edit_datapoint_path(@datapoint) %> |
<%= link_to 'Back', datapoints_path %>
